In [1]:
import pandas as pd

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.read_csv('transposed_data.csv')

In [14]:
# Create a mapping dictionary for each column
mapping_dicts = {}

In [15]:
# Initialize the integer value for mapping
int_value = 1

In [16]:
# Iterate over columns
for col in df.columns:
    unique_values = df[col].unique()
    mapping_dict = {value: int_value + i for i, value in enumerate(unique_values)}
    mapping_dicts[col] = mapping_dict
    df[col] = df[col].map(mapping_dict)
    int_value += len(unique_values)

In [17]:

# Group data into arrays of size 10
array_size = 10
num_rows = len(df)
new_data = []

In [18]:
for i in range(0, num_rows, array_size):
    row_data = df.iloc[i:i+array_size].values.flatten()
    new_data.append(row_data)

In [19]:
# Create a new DataFrame with the grouped data
new_df = pd.DataFrame(new_data)

In [21]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,474,475,476,477,478,479,480,481,482,483
0,1,2,3,4,5,6,7,8,9,10,...,475,476,477,478,479,480,481,482,483,484

In [22]:
# Create a mapping dictionary for all columns
mapping_dict = {}
int_value = 1

In [23]:
# Iterate over columns
for col in df.columns:
    unique_values = df[col].unique()
    for value in unique_values:
        if value not in mapping_dict:
            mapping_dict[value] = int_value
            int_value += 1

In [24]:

# Apply the mapping to all columns
df = df.applymap(lambda x: mapping_dict[x])

In [25]:

# Group data into arrays of size 10
array_size = 10
num_rows = len(df)
new_data = []

In [26]:
for i in range(0, num_rows, array_size):
    row_data = df.iloc[i:i+array_size].values.flatten()
    new_data.append(row_data)

In [27]:

# Create a new DataFrame with the grouped data
new_df = pd.DataFrame(new_data)

In [28]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,474,475,476,477,478,479,480,481,482,483
0,1,2,3,4,5,6,7,8,9,10,...,475,476,477,478,479,480,481,482,483,484