In [42]:
import pandas as pd

In [48]:
data = pd.read_excel('products_dispatched_wagon_wise.xlsx')

In [49]:
data

,SNO,Indent No,Mat Code,Heat No,Wagon No,Bundle No
0,1,230662,451100025400300,23E00895,WCR57160855391,45B0045845096
1,2,230662,451100025400300,23E00895,WCR57160855391,45B0045844865
2,3,230662,451100025400300,23D00817,WCR57160855391,45B0045874707
3,4,230662,451100025400300,23E00895,WCR57160855391,45B0045845437
4,5,230662,451100025400300,23D00817,WCR57160855391,45B0045874044
...,...,...,...,...,...,...
902,903,230662,461800505503901,22E03480,WCR21160868477,46C0002550201
903,904,230662,461800505503901,23D00274,WCR21160868477,46C0002549946
904,905,230662,461800505503901,22E03480,WCR21160868477,46C0002550214
905,906,230662,461800505503901,23D00274,WCR21160868477,46C0002549930
906,907,230662,461800505503901,22D04502,WCR21160868477,46C0002485064

In [50]:
df = data[['Mat Code', 'Wagon No']]

In [51]:
df

            Mat Code          Wagon No
0    451100025400300  WCR57160855391
1    451100025400300  WCR57160855391
2    451100025400300  WCR57160855391
3    451100025400300  WCR57160855391
4    451100025400300  WCR57160855391
..               ...               ...
902  461800505503901  WCR21160868477
903  461800505503901  WCR21160868477
904  461800505503901  WCR21160868477
905  461800505503901  WCR21160868477
906  461800505503901  WCR21160868477

[907 rows x 2 columns]

In [52]:
n = 10

grouped_data = [df[i:i+n] for i in range(0, len(df), n)]
concatenated_df = pd.concat(grouped_data, axis=1)

In [53]:
transposed_df = concatenated_df.T

In [55]:
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,897,898,899,900,901,902,903,904,905,906
Mat Code,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,451100025400300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wagon No,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,WCR57160855391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mat Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wagon No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mat Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wagon No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mat Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,461800505503901.0,461800505503901.0,461800505503901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wagon No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WCR21160868477,WCR21160868477,WCR21160868477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mat Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,461800505503901.0,461800505503901.0,461800505503901.0,461800505503901.0,461800505503901.0,461800505503901.0,461800505503901.0
Wagon No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,WCR21160868477,WCR21160868477,WCR21160868477,WCR21160868477,WCR21160868477,WCR21160868477,WCR21160868477

In [56]:
transposed_df.columns = transposed_df.iloc[0]

In [57]:
transposed_df.columns

Float64Index([451100025400300.0, 451100025400300.0, 451100025400300.0,
              451100025400300.0, 451100025400300.0, 451100025400300.0,
              451100025400300.0, 451100025400300.0, 451100025400300.0,
              451100025400300.0,
              ...
                            nan,               nan,               nan,
                            nan,               nan,               nan,
                            nan,               nan,               nan,
                            nan],
             dtype='float64', name='Mat Code', length=907)

In [58]:
from sklearn.preprocessing import LabelEncoder

In [59]:
label_encoder = LabelEncoder()

In [62]:
categorical_columns = ['Wagon No']  # Replace with your column names
for col in categorical_columns:
    transposed_df[col] = label_encoder.fit_transform(transposed_df[col])

KeyError: 'Wagon No'