In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('onlyheatno.csv')

In [3]:
# Extract the pattern from existing Heat No values
pattern = re.compile(r'\d{2}[A-Z]\d{5}')

In [4]:

# Fill missing values with predicted values matching the pattern
for i, row in df[df['Heat No'].isnull()].iterrows():
    heat_no = pattern.sub(lambda x: f"{row['SNO']:02d}{x.group(0)[2:]}", "XXXXXXX")
    df.loc[i, 'Heat No'] = heat_no

In [5]:
print(df[df['Heat No'].isnull()]['Heat No'])

Series([], Name: Heat No, dtype: object)

In [7]:
df

     SNO   Heat No
0      1  23F01059
1      2  23F01058
2      3  23F01058
3      4  23F01035
4      5   XXXXXXX
..   ...       ...
479  480   2303299
480  481   2303299
481  482   XXXXXXX
482  483   2303299
483  484   2303299

[484 rows x 2 columns]

In [8]:
print(df)

     SNO   Heat No
0      1  23F01059
1      2  23F01058
2      3  23F01058
3      4  23F01035
4      5   XXXXXXX
..   ...       ...
479  480   2303299
480  481   2303299
481  482   XXXXXXX
482  483   2303299
483  484   2303299

[484 rows x 2 columns]